# Functions: practice

## Instructions
* Develop functions to execute the following commands or calculate the following values
* First, derive the require commands for a specific case
* Then, create a function to generalize the commands
* Use the both the dataframe and dictionary as input arguments

### Practice question
* Create a function that prints a team name and its winning percentage
* Return the values to a dictionary
* Write a for loop to execute the function for all teams

In [10]:
import os
import sys
import pandas
import numpy
pandas.set_option('display.notebook_repr_html', True)
pandas.set_option('display.max_columns', 30)
pandas.set_option('display.max_rows', 25)

## Source data: dataframe

In [11]:
dm = pandas.read_csv('NHL_season_team_goals.csv')
dm.head()

  Team  GamesPlayed  GoalsFor  GoalsAllowed  Wins  Losses
0  ANA           82       235           233    47      35
1  ATL           82       218           262    34      48
2  BOS           82       244           189    46      36
3  BUF           82       240           228    43      39
4  CAR           82       231           234    40      42

## Source data: Dictionary

In [12]:
dd = pandas.read_csv('NHL_season_team_goals.csv', index_col='Team')
dd = dd.to_dict(orient='index')
print(dd.keys())
dd.get('ANA')

dict_keys(['ANA', 'ATL', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LA', 'MIN', 'MTL', 'NJ', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PHX', 'PIT', 'SJ', 'STL', 'TB', 'TOR', 'VAN', 'WSH'])

{'GamesPlayed': 82,
 'GoalsAllowed': 233,
 'GoalsFor': 235,
 'Losses': 35,
 'Wins': 47}

In [13]:
# function prints and returns values
def ga_game_return(_team, _ga, _gp):
    team = _team
    value = _ga / _gp
    value = round(value, 2)
    print('Team: ', team, 'Goals allowed: ', value)
    return {team: {'GFGame': value}}

In [14]:
# dataframe
# convert dataframe objects to values
dt = dm.copy()
dt['name'] = dt.Team
dt = dt.set_index('name')
na = dt.get_value(index='ANA', col='Team')
ga = dt.get_value(index='ANA', col='GoalsAllowed')
gp = dt.get_value(index='ANA', col='GamesPlayed')

# returned values are stored in object
RF1 = ga_game_return(na, ga, gp)

Team:  ANA Goals allowed:  2.84

In [15]:
# dictionary
# returned values are stored in object
na = 'ANA'
ga = dd[na]['GoalsAllowed']
gp = dd[na]['GamesPlayed']

# returned values are stored in object
RD1 = ga_game_return(na, ga, gp)

Team:  ANA Goals allowed:  2.84

In [16]:
# display returned objects
print('Returned value from dataframe: ', RF1)
print('Returned value from dictionary: ', RD1)

Returned value from dataframe:  {'ANA': {'GFGame': 2.8399999999999999}}
Returned value from dictionary:  {'ANA': {'GFGame': 2.8399999999999999}}

In [17]:
# For loop to execute function for all teams
# from dataframe
dt = dm.copy()
dt['name'] = dt.Team
dt = dt.set_index('name')

teams = list(dm.Team)

for team in teams:
    
    na = dt.get_value(index=team, col='Team')
    ga = dt.get_value(index=team, col='GoalsAllowed')
    gp = dt.get_value(index=team, col='GamesPlayed')

    # returned values are stored in object
    # however, values are continually written over by next iteration
    RF2 = ga_game_return(na, ga, gp)

Team:  ANA Goals allowed:  2.84
Team:  ATL Goals allowed:  3.2
Team:  BOS Goals allowed:  2.3
Team:  BUF Goals allowed:  2.78
Team:  CAR Goals allowed:  2.85
Team:  CBJ Goals allowed:  3.05
Team:  CGY Goals allowed:  2.8
Team:  CHI Goals allowed:  2.68
Team:  COL Goals allowed:  3.5
Team:  DAL Goals allowed:  2.76
Team:  DET Goals allowed:  2.89
Team:  EDM Goals allowed:  3.17
Team:  FLA Goals allowed:  2.71
Team:  LA Goals allowed:  2.39
Team:  MIN Goals allowed:  2.78
Team:  MTL Goals allowed:  2.51
Team:  NJ Goals allowed:  2.52
Team:  NSH Goals allowed:  2.32
Team:  NYI Goals allowed:  3.15
Team:  NYR Goals allowed:  2.38
Team:  OTT Goals allowed:  2.99
Team:  PHI Goals allowed:  2.63
Team:  PHX Goals allowed:  2.68
Team:  PIT Goals allowed:  2.39
Team:  SJ Goals allowed:  2.54
Team:  STL Goals allowed:  2.78
Team:  TB Goals allowed:  2.85
Team:  TOR Goals allowed:  2.99
Team:  VAN Goals allowed:  2.2
Team:  WSH Goals allowed:  2.33

In [18]:
# For loop to execute function for all teams
# from dataframe
dt = dm.copy()
dt['name'] = dt.Team
dt = dt.set_index('name')

teams = list(dm.Team)

for team in teams:

    na = team
    ga = dd[na]['GoalsAllowed']
    gp = dd[na]['GamesPlayed']

    # returned values are stored in object
    # however, values are continually written over by next iteration
    RD2 = ga_game_return(na, ga, gp)

Team:  ANA Goals allowed:  2.84
Team:  ATL Goals allowed:  3.2
Team:  BOS Goals allowed:  2.3
Team:  BUF Goals allowed:  2.78
Team:  CAR Goals allowed:  2.85
Team:  CBJ Goals allowed:  3.05
Team:  CGY Goals allowed:  2.8
Team:  CHI Goals allowed:  2.68
Team:  COL Goals allowed:  3.5
Team:  DAL Goals allowed:  2.76
Team:  DET Goals allowed:  2.89
Team:  EDM Goals allowed:  3.17
Team:  FLA Goals allowed:  2.71
Team:  LA Goals allowed:  2.39
Team:  MIN Goals allowed:  2.78
Team:  MTL Goals allowed:  2.51
Team:  NJ Goals allowed:  2.52
Team:  NSH Goals allowed:  2.32
Team:  NYI Goals allowed:  3.15
Team:  NYR Goals allowed:  2.38
Team:  OTT Goals allowed:  2.99
Team:  PHI Goals allowed:  2.63
Team:  PHX Goals allowed:  2.68
Team:  PIT Goals allowed:  2.39
Team:  SJ Goals allowed:  2.54
Team:  STL Goals allowed:  2.78
Team:  TB Goals allowed:  2.85
Team:  TOR Goals allowed:  2.99
Team:  VAN Goals allowed:  2.2
Team:  WSH Goals allowed:  2.33

In [19]:
# display returned objects
# however, values are continually written over by next iteration
# The object only contains that last compute values
print('Returned value from dataframe: ', RF2)
print('Returned value from dictionary: ', RD2)

Returned value from dataframe:  {'WSH': {'GFGame': 2.3300000000000001}}
Returned value from dictionary:  {'WSH': {'GFGame': 2.3300000000000001}}