# Functions: practice

## Instructions
* Develop functions to execute the following commands or calculate the following values
* First, derive the require commands for a specific case
* Then, create a function to generalize the commands
* Use the both the dataframe and dictionary as input arguments

### Practice question
* Create a function that prints a team name and its winning percentage
* Return the values to a dictionary
* Write a for loop to execute the function for all teams

In [2]:
import os
import sys
import pandas
import numpy
pandas.set_option('display.notebook_repr_html', True)
pandas.set_option('display.max_columns', 30)
pandas.set_option('display.max_rows', 25)

## Source data: dataframe

In [33]:
dm = pandas.read_csv('NHL_season_team_goals.csv')
dm.head()

  Team  GamesPlayed  GoalsFor  GoalsAllowed  Wins  Losses
0  ANA           82       235           233    47      35
1  ATL           82       218           262    34      48
2  BOS           82       244           189    46      36
3  BUF           82       240           228    43      39
4  CAR           82       231           234    40      42

## Source data: Dictionary

In [50]:
dd = pandas.read_csv('NHL_season_team_goals.csv', index_col='Team')
dd = dd.to_dict(orient='index')
print(dd.keys())
dd.get('ANA')

dict_keys(['ANA', 'ATL', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LA', 'MIN', 'MTL', 'NJ', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PHX', 'PIT', 'SJ', 'STL', 'TB', 'TOR', 'VAN', 'WSH'])

{'GamesPlayed': 82,
 'GoalsAllowed': 233,
 'GoalsFor': 235,
 'Losses': 35,
 'Wins': 47}