# Collect NBA schedule data
1. Collect team information
* Examine url schema
* Set url
* Configure data architecture
* Set global variables
* Loop through teams
* Examine webpage design
* Develop functions to collect data
* Collect data
* Store data in dictionary
* Save data

Note: Collect schedule information for one team: bos

## Collect team information

In [1]:
%run ../1-teams.ipynb

In [2]:
dic_team.keys()

dict_keys(['team', 'home', 'stats', 'schedule', 'roster', 'depth', 'abv'])

In [3]:
dt.head()
DT = dt.copy()
DT.head()

,team,abv,home,stats,schedule,roster,depth
0,Boston Celtics,bos,http://www.espn.com/nba/team/_/name/bos/boston...,/nba/teams/stats?team=bos,/nba/teams/schedule?team=bos,/nba/teams/roster?team=bos,/nba/teams/depth?team=bos
1,Brooklyn Nets,bkn,http://www.espn.com/nba/team/_/name/bkn/brookl...,/nba/teams/stats?team=bkn,/nba/teams/schedule?team=bkn,/nba/teams/roster?team=bkn,/nba/teams/depth?team=bkn
2,New York Knicks,nyk,http://www.espn.com/nba/team/_/name/ny/new-yor...,/nba/teams/stats?team=nyk,/nba/teams/schedule?team=nyk,/nba/teams/roster?team=nyk,/nba/teams/depth?team=nyk
3,Philadelphia 76ers,phi,http://www.espn.com/nba/team/_/name/phi/philad...,/nba/teams/stats?team=phi,/nba/teams/schedule?team=phi,/nba/teams/roster?team=phi,/nba/teams/depth?team=phi
4,Toronto Raptors,tor,http://www.espn.com/nba/team/_/name/tor/toront...,/nba/teams/stats?team=tor,/nba/teams/schedule?team=tor,/nba/teams/roster?team=tor,/nba/teams/depth?team=tor

### Set url schema
* http://www.espn.com/nba/team/schedule/_/name/bos/year/2016
* http://www.espn.com/nba/team/schedule/_/name/bos/year/2017

In [57]:
BASE = 'http://www.espn.com/nba/team/schedule/_/name/'
TEAM = 'bos'
YEAR = str(2017)
BASE_URL = BASE + TEAM + '/year/' + YEAR
URL = BASE_URL
URL

'http://www.espn.com/nba/team/schedule/_/name/bos/year/2017'

In [58]:
r = requests.get(URL)
soup = BeautifulSoup(r.text, 'lxml')
table = soup.table
print(table.prettify()[0:200])

<table cellpadding="3" cellspacing="1" class="tablehead">
 <tr class="stathead">
  <td colspan="9">
   2017 Regular Season Schedule
  </td>
 </tr>
 <tr class="colhead">
  <td>
   OCTOBER
  </td>
  <td

### Examine table contents

In [59]:
row = table.find_all('tr')
len(row)

90

In [60]:
row = table.find_all('tr')
for r in row[0:5]:
    print (r)
    print('****************')

<tr class="stathead"><td colspan="9">2017 Regular Season Schedule</td></tr>
****************
<tr class="colhead"><td>OCTOBER</td><td>OPPONENT</td><td>RESULT</td><td>W-L</td><td align="left" title="Points Leader">HI POINTS</td><td align="left" title="Rebounds Leader">HI REBOUNDS</td><td align="left" title="Assists Leader">HI ASSISTS</td></tr>
****************
<tr class="oddrow team-46-17"><td>Wed, Oct 26</td><td><ul class="game-schedule"><li class="game-status">vs</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li></ul></td><td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li></ul></td><td>1-0</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6590/justin-hamilton">J. Hamilton</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 8</td></tr>
****************
<tr class="evenrow team-46-4"><td>Thu, Oct 27</td><td><ul class="game-schedule"><li class="game-status">@</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/chi/chicago-bulls"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/Chi.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/chi/chicago-bulls">Chicago</a></li></ul></td><td><ul class="game-schedule"><li class="game-status loss"><span class="redfont">L</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899422">105-99</a></li></ul></td><td>1-1</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/3986/taj-gibson">T. Gibson</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/3026/rajon-rondo">R. Rondo</a> 9</td></tr>
****************
<tr class="oddrow team-46-30"><td>Sat, Oct 29</td><td><ul class="game-schedule"><li class="game-status">@</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/cha/charlotte-hornets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/Cha.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/cha/charlotte-hornets">Charlotte</a></li></ul></td><td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899477">104-98</a></li></ul></td><td>2-1</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/4240/avery-bradley">A. Bradley</a> 31</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/4240/avery-bradley">A. Bradley</a> 11</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 7</td></tr>
****************

In [61]:
row = table.find_all('tr')[2]
row

<tr class="oddrow team-46-17"><td>Wed, Oct 26</td><td><ul class="game-schedule"><li class="game-status">vs</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li></ul></td><td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li></ul></td><td>1-0</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6590/justin-hamilton">J. Hamilton</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 8</td></tr>

In [62]:
tds = row.find_all('td')
tds

[<td>Wed, Oct 26</td>,
 <td><ul class="game-schedule"><li class="game-status">vs</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li></ul></td>,
 <td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li></ul></td>,
 <td>1-0</td>,
 <td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td>,
 <td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6590/justin-hamilton">J. Hamilton</a> 10</td>,
 <td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 8</td>]

### Extract data

In [63]:
for td in tds:
    print(td.text)

Wed, Oct 26
vsBrooklyn
W122-117
1-0
I. Thomas 25
J. Hamilton 10
I. Thomas 8

In [64]:
temp = row.find('li', class_="score")
temp

In [65]:
temp = row.find('li', class_="score")
temp.a.text

'122-117'

In [66]:
temp = row.find('li', class_="team-name")
temp.a.text

'Brooklyn'

In [67]:
temp = row.find('li', class_="game-status win")
temp

In [68]:
li = row.find_all('li')
li

[<li class="game-status">vs</li>,
 <li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li>,
 <li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li>,
 <li class="game-status win"><span class="greenfont">W</span></li>,
 <li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li>]

In [69]:
l = row.find('li')
l

In [70]:
l.get('class')

['game-status']

In [71]:
li = row.find_all('li')
for l in li:
    print(l.get('class'))

['game-status']
['team-logo-small', 'logo-nba-small']
['team-name']
['game-status', 'win']
['score']

In [72]:
row.find('li', class_="game-status")

In [73]:
row.find('li', class_="team-logo-small")

<li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li>

In [74]:
row.find('li', class_="logo-nba-small")

<li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li>

In [75]:
t = row.find('li', class_="team-name")
t.text

'Brooklyn'

In [76]:
t = row.find('li', class_="game-status win")
t.text

'W'

In [77]:
t = row.find('li', class_="win")
t.text

'W'

In [78]:
t = row.find('li', class_="score")
t.text

'122-117'

In [79]:
t = row.find_all('td')
for i in t:
    print(i.text)

Wed, Oct 26
vsBrooklyn
W122-117
1-0
I. Thomas 25
J. Hamilton 10
I. Thomas 8

In [80]:
t = row.find_all('td')
t[0].text

'Wed, Oct 26'

In [81]:
t = row.find_all('td')
t[4].text

'I. Thomas 25'

In [82]:
t = row.find_all('td')
t[5].text

'J. Hamilton 10'

In [83]:
t = row.find_all('td')
t[6].text

'I. Thomas 8'

## Collect data

### One game

In [84]:
row = table.find_all('tr')[2]
row

<tr class="oddrow team-46-17"><td>Wed, Oct 26</td><td><ul class="game-schedule"><li class="game-status">vs</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li></ul></td><td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li></ul></td><td>1-0</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6590/justin-hamilton">J. Hamilton</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 8</td></tr>

### Data architecture

In [85]:
date = []
opponent = []
outcome = []
score = []
points = []
rebounds = []
assists = []

In [86]:
td = row.find_all('td')
date.append(td[0].text)
points.append(td[4].text)
rebounds.append(td[5].text)
assists.append(td[6].text)

_opponent = row.find('li', class_="team-name")
opponent.append(_opponent.text)

_score = row.find('li', class_="score")
score.append(_score.text)

### Define dictionary

In [87]:
dic_schedule = {'date': date, 
       'opponent': opponent,
       'score': score,
       'points': points,
       'rebounds': rebounds,
       'assists': assists}

dic_schedule

{'assists': ['I. Thomas 8'],
 'date': ['Wed, Oct 26'],
 'opponent': ['Brooklyn'],
 'points': ['I. Thomas 25'],
 'rebounds': ['J. Hamilton 10'],
 'score': ['122-117']}

In [88]:
ds = pandas.DataFrame(dic_schedule)
ds = ds[['date', 'opponent', 'score', 'points', 'rebounds', 'assists']]
ds.head()

          date  opponent    score        points        rebounds      assists
0  Wed, Oct 26  Brooklyn  122-117  I. Thomas 25  J. Hamilton 10  I. Thomas 8

### Collect data: multiple games
* Note: some rows contain column headers
* Implement control flow: Try-except

In [89]:
r = requests.get(URL)
soup = BeautifulSoup(r.text, 'lxml')
table = soup.table

In [90]:
rows = table.find_all('tr')[:4]
for row in rows:
    print(row)
    print('************')

<tr class="stathead"><td colspan="9">2017 Regular Season Schedule</td></tr>
************
<tr class="colhead"><td>OCTOBER</td><td>OPPONENT</td><td>RESULT</td><td>W-L</td><td align="left" title="Points Leader">HI POINTS</td><td align="left" title="Rebounds Leader">HI REBOUNDS</td><td align="left" title="Assists Leader">HI ASSISTS</td></tr>
************
<tr class="oddrow team-46-17"><td>Wed, Oct 26</td><td><ul class="game-schedule"><li class="game-status">vs</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/BKN.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/bkn/brooklyn-nets">Brooklyn</a></li></ul></td><td><ul class="game-schedule"><li class="game-status win"><span class="greenfont">W</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899380">122-117</a></li></ul></td><td>1-0</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6590/justin-hamilton">J. Hamilton</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 8</td></tr>
************
<tr class="evenrow team-46-4"><td>Thu, Oct 27</td><td><ul class="game-schedule"><li class="game-status">@</li><li class="team-logo-small logo-nba-small"><a href="http://www.espn.com/nba/team/_/name/chi/chicago-bulls"><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/scoreboard/Chi.png&amp;h=80&amp;w=80"/></a></li><li class="team-name"><a href="http://www.espn.com/nba/team/_/name/chi/chicago-bulls">Chicago</a></li></ul></td><td><ul class="game-schedule"><li class="game-status loss"><span class="redfont">L</span></li><li class="score"><a href="//www.espn.com/nba/recap/_/id/400899422">105-99</a></li></ul></td><td>1-1</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/6472/isaiah-thomas">I. Thomas</a> 25</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/3986/taj-gibson">T. Gibson</a> 10</td><td colspan="1"><a href="http://www.espn.com/nba/player/_/id/3026/rajon-rondo">R. Rondo</a> 9</td></tr>
************

In [91]:
date = []
opponent = []
score = []
points = []
rebounds = []
assists = []
r = requests.get(URL)
soup = BeautifulSoup(r.text, 'lxml')
table = soup.table

rows = table.find_all('tr')[1:]
for row in rows:
    td = row.find_all('td')
    date.append(td[0].text)
    points.append(td[4].text)
    rebounds.append(td[5].text)
    assists.append(td[6].text)

    try:
        _opponent = row.find('li', class_="team-name")
        opponent.append(_opponent.text)
    except:
        opponent.append('Opponent')
        
    try:
        _score = row.find('li', class_="score")
        score.append(_score.text)
    except:
        score.append('Score')


dic_schedule = {'date': date, 
       'opponent': opponent,
       'score': score,
       'points': points,
       'rebounds': rebounds,
       'assists': assists}

In [92]:
ds = pandas.DataFrame(dic_schedule)
ds['season'] = YEAR
ds = ds[['season', 'date', 'opponent', 'score', 'points', 'rebounds', 'assists']]
ds = ds[ds.opponent!='Opponent'] # drop column header observations
print(len(ds))
ds.head()

82

,season,date,opponent,score,points,rebounds,assists
1,2017,"Wed, Oct 26",Brooklyn,122-117,I. Thomas 25,J. Hamilton 10,I. Thomas 8
2,2017,"Thu, Oct 27",Chicago,105-99,I. Thomas 25,T. Gibson 10,R. Rondo 9
3,2017,"Sat, Oct 29",Charlotte,104-98,A. Bradley 31,A. Bradley 11,I. Thomas 7
5,2017,"Wed, Nov 2",Chicago,107-100,A. Johnson 23,R. Rondo 9,I. Thomas 10
6,2017,"Thu, Nov 3",Cleveland,128-122,L. James 30,T. Thompson 14,L. James 12

### Collect data: multiple years
* Added control-flow: if-else-pass to account for column headers

In [144]:
BASE = 'http://www.espn.com/nba/team/schedule/_/name/'
TEAM = 'bos'

season = []
date = []
opponent = []
score = []
points = []
rebounds = []
assists = []

# _year = [2015, 2016, 2017]
_year = range(2002, 2018)
for YEAR in _year:
    
    print('season: ', YEAR)
    BASE_URL = BASE + TEAM + '/year/' + str(YEAR)
    URL = BASE_URL

    r = requests.get(URL)
    soup = BeautifulSoup(r.text, 'lxml')
    table = soup.table
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        
        if len(row)==7:
            season.append(YEAR)

            td = row.find_all('td')
            date.append(td[0].text)
            points.append(td[4].text)
            rebounds.append(td[5].text)
            assists.append(td[6].text)

            try:
                _opponent = row.find('li', class_="team-name")
                opponent.append(_opponent.text)
            except:
                opponent.append('Opponent')

            try:
                _score = row.find('li', class_="score")
                score.append(_score.text)
            except:
                score.append('Score')
    
        else:
            pass
        
dic_schedule = {'season': season, 
                'date': date, 
                'opponent': opponent, 
                'score': score, 
                'points': points, 
                'rebounds': rebounds, 
                'assists': assists}

season:  2002
season:  2003
season:  2004
season:  2005
season:  2006
season:  2007
season:  2008
season:  2009
season:  2010
season:  2011
season:  2012
season:  2013
season:  2014
season:  2015
season:  2016
season:  2017

In [141]:
ds = pandas.DataFrame(dic_schedule)
ds = ds[['season', 'date', 'opponent', 'score', 'points', 'rebounds', 'assists']]
ds = ds[ds.opponent!='Opponent'] # drop column header observations
print(len(ds))
ds.groupby('season').head(2)

475

,season,date,opponent,score,points,rebounds,assists
1,2012,"Sun, Dec 25",NY Knicks,106-104,C. Anthony 37,B. Bass 11,R. Rondo 13
2,2012,"Tue, Dec 27",Miami,115-107,R. Allen 28,U. Haslem 12,R. Rondo 12
72,2013,"Tue, Oct 30",Miami,120-107,D. Wade 29,K. Garnett 12,R. Rondo 13
74,2013,"Fri, Nov 2",Milwaukee,99-88,B. Jennings 21,E. Ilyasova 11,B. Jennings 13
161,2014,"Wed, Oct 30",Toronto,93-87,J. Green 25,T. Hansbrough 12,K. Lowry 8
163,2014,"Fri, Nov 1",Milwaukee,105-98,Z. Pachulia 20,V. Faverani 18,N. Wolters 6
250,2015,"Wed, Oct 29",Brooklyn,121-105,M. Teletovic 20,R. Rondo 7,R. Rondo 12
252,2015,"Sat, Nov 1",Houston,104-90,J. Harden 26,R. Rondo 10,R. Rondo 8
339,2016,"Wed, Oct 28",Philadelphia,112-95,I. Thomas 27,N. Noel 13,I. Thomas 7
340,2016,"Fri, Oct 30",Toronto,113-103,I. Thomas 25,J. Valanciunas 10,K. Lowry 9
429,2017,"Wed, Oct 26",Brooklyn,122-117,I. Thomas 25,J. Hamilton 10,I. Thomas 8
430,2017,"Thu, Oct 27",Chicago,105-99,I. Thomas 25,T. Gibson 10,R. Rondo 9