# Instructions

* Use the following json file of NHL live data to answer the following questions.

In [21]:
import json
import pandas
import numpy

with open('NHL2016020001.json', 'r') as f:
     gm_dict = json.load(f)
        
gm_dict.keys()

dict_keys(['copyright', 'gamePk', 'link', 'metaData', 'gameData', 'liveData'])

## Part 1
1. Extract the game number (i.e., pk) and game date (i.e., dateTime).
* Create a function that returns the triCode of the home and away teams to a dictionary.
* Store the game number (i.e., pk), game date (i.e., dateTime), triCode, and designation (i.e. home or away) in a dataframe with season-game-team observations. The dataframe should have 4 columns and 2 rows.

## Create funtion: game_team

In [22]:
def get_game_team(designation):
    """Function to obtain:
    game number, game date, triCode
    """
    gamePk = gm_dict['gamePk']
    dateTime = gm_dict['gameData']['datetime']['dateTime']
    triCode = gm_dict['gameData']['teams'][designation]['triCode']
    temp = {designation: {'gamePk': gamePk, 'dateTime': dateTime, 'triCode': triCode}}
    return(temp)

# Update dictionary
* Implement function to update game_team dictionary with data

In [23]:
game_team = dict()
game_team.update(get_game_team('home'))
game_team.update(get_game_team('away'))
game_team

{'away': {'dateTime': '2016-10-12T23:00:00Z',
  'gamePk': 2016020001,
  'triCode': 'TOR'},
 'home': {'dateTime': '2016-10-12T23:00:00Z',
  'gamePk': 2016020001,
  'triCode': 'OTT'}}

## Convert dictionary to dataframe

In [24]:
d1 = pandas.DataFrame.from_dict(game_team, orient='index')
d1 = d1.reset_index()
d1 = d1.rename(columns={'index': 'designation'})
d1.head()

  designation      gamePk              dateTime triCode
0        away  2016020001  2016-10-12T23:00:00Z     TOR
1        home  2016020001  2016-10-12T23:00:00Z     OTT

## Part 2
1. Create a function that returns the following player information to a dictionary.
    * id, fullName, rosterStatus, and their current team's triCode.
* Use the dictionary and a for loop to collect the information for players.
* Convert the dictionary to a dataframe with player observations. The dataframe should have 4 columns and many rows (one row for each player).

## Create function: get_player_info

In [25]:
def get_player_info(ID):
    fullName = gm_dict['gameData']['players'][ID]['fullName']
    rosterStatus = gm_dict['gameData']['players'][ID]['rosterStatus']
    try: 
        triCode = gm_dict['gameData']['players'][ID]['currentTeam']['triCode']
    except:
        triCode = 'na'
    temp = {ID: {'fullName': fullName, 'rosterStatus': rosterStatus, 'triCode': triCode}}
    return(temp)

get_player_info('ID8474709')

{'ID8474709': {'fullName': 'Matt Martin',
  'rosterStatus': 'Y',
  'triCode': 'TOR'}}

# Update dictionary
* Obtain playerID list
* Update get_player_info with player information data

In [26]:
player = {}
playerids = gm_dict['gameData']['players']
for playerid in playerids:
    player.update(get_player_info(playerid))

## Convert dictionary to dataframe

In [27]:
d2 = pandas.DataFrame.from_dict(player, orient='index')
d2 = d2.reset_index()
d2 = d2.rename(columns={'index': 'playerID'})
d2.head()

    playerID        fullName rosterStatus triCode
0  ID8467493      Chris Neil            Y      na
1  ID8467950  Craig Anderson            Y     OTT
2  ID8467967     Chris Kelly            N      na
3  ID8470599  Milan Michalek            N      na
4  ID8470602    Dion Phaneuf            Y     OTT

## Part 3
1. Create a new dataframe that merges the game-team and player dataframes based on the team triCode. The new dataframe should have game-team-player observations.

## Merge game-team and player dataframe

In [28]:
d3 = pandas.merge(d1, d2, on='triCode')
d3 = d3[['gamePk', 'dateTime', 'triCode', 'playerID', 'playerID', 'rosterStatus']]

In [29]:
d3.head()

       gamePk              dateTime triCode   playerID   playerID rosterStatus
0  2016020001  2016-10-12T23:00:00Z     TOR  ID8471392  ID8471392            Y
1  2016020001  2016-10-12T23:00:00Z     TOR  ID8473463  ID8473463            Y
2  2016020001  2016-10-12T23:00:00Z     TOR  ID8474037  ID8474037            Y
3  2016020001  2016-10-12T23:00:00Z     TOR  ID8474581  ID8474581            Y
4  2016020001  2016-10-12T23:00:00Z     TOR  ID8474709  ID8474709            Y

In [30]:
d3.tail()

,gamePk,dateTime,triCode,playerID,playerID,rosterStatus
27,2016020001,2016-10-12T23:00:00Z,OTT,ID8475913,ID8475913,Y
28,2016020001,2016-10-12T23:00:00Z,OTT,ID8476288,ID8476288,Y
29,2016020001,2016-10-12T23:00:00Z,OTT,ID8476419,ID8476419,Y
30,2016020001,2016-10-12T23:00:00Z,OTT,ID8476879,ID8476879,Y
31,2016020001,2016-10-12T23:00:00Z,OTT,ID8478469,ID8478469,N