# Functions: example

## Instructions
* Develop functions to execute the following commands or calculate the following values
* First, derive the require commands for a specific case
* Then, create a function to generalize the commands
* Use the both the dataframe and dictionary as input arguments

### Example questions
* Create a function that prints a team name and its goals for per game
* Return the values to a dictionary

In [42]:
import os
import sys
import pandas
import numpy
pandas.set_option('display.notebook_repr_html', True)
pandas.set_option('display.max_columns', 30)
pandas.set_option('display.max_rows', 25)

## Source data: dataframe

In [43]:
dm = pandas.read_csv('NHL_season_team_goals.csv')
dm.head()

  Team  GamesPlayed  GoalsFor  GoalsAllowed  Wins  Losses
0  ANA           82       235           233    47      35
1  ATL           82       218           262    34      48
2  BOS           82       244           189    46      36
3  BUF           82       240           228    43      39
4  CAR           82       231           234    40      42

## Source data: dictionary

In [44]:
dd = pandas.read_csv('NHL_season_team_goals.csv', index_col='Team')
dd = dd.to_dict(orient='index')
print(dd.keys())
dd.get('ANA')

dict_keys(['ANA', 'ATL', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LA', 'MIN', 'MTL', 'NJ', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PHX', 'PIT', 'SJ', 'STL', 'TB', 'TOR', 'VAN', 'WSH'])

{'GamesPlayed': 82,
 'GoalsAllowed': 233,
 'GoalsFor': 235,
 'Losses': 35,
 'Wins': 47}

### Execute commands for a specific case

### Dataframe

In [46]:
dt = dm[dm.Team=='ANA']
dt

  Team  GamesPlayed  GoalsFor  GoalsAllowed  Wins  Losses
0  ANA           82       235           233    47      35

In [47]:
# team name
team = dt.Team
team

0    ANA
Name: Team, dtype: object

In [56]:
# goals per game
gf_game = dt.GoalsFor/ dt.GamesPlayed
gf_game

0    2.865854
dtype: float64

### Dictionary

In [57]:
# team name
print('ANA')

ANA

In [58]:
gf_game = dd['ANA']['GoalsFor'] / dd['ANA']['GamesPlayed']
gf_game

2.8658536585365852

### Function to print values

In [73]:
def goalfor_game_print(_team, _gf, _gp):
    team = _team
    gf_game = _gf/_gp
    gf_game = round(gf_game, 2)
    print('Team: ' , team)
    print('Goals for per game: ', gf_game)

Dataframe values as arguements

In [70]:
dt = dm[dm.Team=='ANA']
goalfor_game_print(dt.Team, dt.GoalsFor, dt.GamesPlayed)

Team:  0    ANA
Name: Team, dtype: object
Goals for per game:  0    2.87
dtype: float64

Dictionary values as arguements

In [71]:
goalfor_game_print('ANA', dd['ANA']['GoalsFor'], dd['ANA']['GamesPlayed'])

Team:  ANA
Goals for per game:  2.87

### Function to return values to dictionary

In [88]:
def goalfor_game_return(_team, _gf, _gp):
    team = _team
    gf_game = _gf / _gp
    gf_game = round(gf_game, 2)
    return {team: {'GFGame': gf_game}}

In [89]:
t1 = goalfor_game_return('ANA', dd['ANA']['GoalsFor'], dd['ANA']['GamesPlayed'])
t1

{'ANA': {'GFGame': 2.8660000000000001}}