# Collect NBA schedule data
1. Collect team information
* Examine url schema
* Set url
* Configure data architecture
* Set global variables
* Loop through teams
* Examine webpage design
* Develop functions to collect data
* Collect data
* Store data in dictionary
* Save data

Note: Collect schedule information for one team: bos

## Collect data
### Teams

In [6]:
%run 1-teams.ipynb

### Schedules

In [7]:
BASE = 'http://www.espn.com/nba/team/schedule/_/name/'
TEAM = 'bos'

season = []
date = []
opponent = []
score = []
points = []
rebounds = []
assists = []

# _year = [2015, 2016, 2017]
_year = range(2002, 2018)
for YEAR in _year:
    
    print('season: ', YEAR)
    BASE_URL = BASE + TEAM + '/year/' + str(YEAR)
    URL = BASE_URL

    r = requests.get(URL)
    soup = BeautifulSoup(r.text, 'lxml')
    table = soup.table
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        
        if len(row)==7:
            season.append(YEAR)

            td = row.find_all('td')
            date.append(td[0].text)
            points.append(td[4].text)
            rebounds.append(td[5].text)
            assists.append(td[6].text)

            try:
                _opponent = row.find('li', class_="team-name")
                opponent.append(_opponent.text)
            except:
                opponent.append('Opponent')

            try:
                _score = row.find('li', class_="score")
                score.append(_score.text)
            except:
                score.append('Score')
    
        else:
            pass
        
dic_schedule = {'season': season, 
                'date': date, 
                'opponent': opponent, 
                'score': score, 
                'points': points, 
                'rebounds': rebounds, 
                'assists': assists}

season:  2002
season:  2003
season:  2004
season:  2005
season:  2006
season:  2007
season:  2008
season:  2009
season:  2010
season:  2011
season:  2012
season:  2013
season:  2014
season:  2015
season:  2016
season:  2017

## Convert to dataframe

In [9]:
ds = pandas.DataFrame(dic_schedule)
ds = ds[['season', 'date', 'opponent', 'score', 'points', 'rebounds', 'assists']]
ds = ds[ds.opponent!='Opponent'] # drop column header observations
print('Number of game: ', len(ds))
ds.head()

Number of game:  1284

,season,date,opponent,score,points,rebounds,assists
1,2002,"Tue, Oct 17",Cleveland,102-99,L. James 29,L. James 16,K. Irving 10
2,2002,"Wed, Oct 18",Milwaukee,108-100,G. Antetokounmpo 37,G. Antetokounmpo 13,K. Middleton 6
3,2002,"Fri, Oct 20",Philadelphia,102-92,K. Irving 21,J. Embiid 14,B. Simmons 5
4,2002,"Tue, Oct 24",NY Knicks,110-89,J. Brown 23,E. Kanter 19,R. Sessions 7
5,2002,"Thu, Oct 26",Milwaukee,96-89,G. Antetokounmpo 28,G. Antetokounmpo 10,K. Irving 7